
*,
*::before,
*::after {
  margin: 0;
  padding:0;
}

html {
  min-width: fit-content;
  font-size: 62.5%;
  box-sizing: border-box;
  
}

body {
  position: relative;
  transition: .4s;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;

 
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&family=Source+Serif+Pro:wght@400;600&display=swap');
  
  overflow-x: hidden;
  line-height: 1.6;
  font-weight: 300;
  font-family: $font-primary,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}


