.container {
    display: grid;
background-color: #f1f1f1;
    // Row Tracks
    grid-template-rows: max-content 80vh min-content 40vw repeat(3, min-content);

    // Column Tracks
    grid-template-columns:
        [full-start]
        minmax(6rem, 1fr) [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
        )
        [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $bp-large) {
        grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
        grid-template-columns:
            [full-start] minmax(6rem, 1fr) [center-start] repeat(
                8,
                [col-start] minmax(min-content, 14rem) [col-end]
            )
            [center-end] minmax(6rem, 1fr) [full-end];
    }

    @media only screen and (max-width: $bp-md) {
        grid-template-rows: 6rem calc(100vh - 6rem);
    }
}

%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 4.5rem;
    color: $color-grey-light-1;
    line-height: 1;
}

.heading-2 {
    @extend %heading;

    font-size: 4rem;
    font-style: italic;
    line-height: 1;

    &--light {
        color: $color-grey-light-1;
    }
    &--dark {
        color: $color-grey-dark-1;
    }
}

.heading-3 {
    @extend %heading;

    color: $color-primary;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.heading-4 {
    @extend %heading;
    font-size: 2.2rem;
    &--light {
        color: $color-grey-light-1;
    }
    &--dark {
        color: $color-grey-dark-1;
    }
}

.heading-5 {
    @extend %heading;
}

.btn {
    background-color: $color-primary;
    border: none;
    border-radius: none;
    color: #fff;
    cursor: pointer;
    font-family: $font-display;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    transition: all 0.2s;

    &:hover {
        background-color: $color-primary-dark;
    }
}

.mb-sm {
    margin-bottom: 2rem;
}
.mb-md {
    margin-bottom: 3rem;
}
.mb-lg {
    margin-bottom: 4rem;
}
.mb-hg {
    margin-bottom: 8rem;
}
