// COLOR VARIABLES
$color-secondary: #db222a;
$color-primary: #1f7a8c;
//$color-primary-dark: #24180b;
$color-primary-light: #BFDBF7;
$color-primary-dark: #053C5E;

$color-secondary-dark: #a31621;
$color-primary-dark-2: #101d2c;

$color-grey-dark: #252424;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #070707;

$color-error: #582424;

$box-shadow: 3px 3px 10px 8px $color-primary-dark;

// FONT VARIABLES
$font-primary: 'Montserrat',
sans-serif;
$font-display: 'Josefin Sans',
sans-serif;
$font-clamp: clamp(1.2rem, 1.5vw, 1.5vw);


// COLOR VARIABLES
//$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS 
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-md: 50em; //800px
$bp-sm: 37.5em; //600px;
