.course_cards {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2rem;
    justify-items: center;

    .course {
        box-shadow: 3px 8px 9px rgb(136, 134, 134);
        border-radius: 1rem 1rem;

        &_imgbox {
            border-radius: 1rem 1rem;
            overflow: hidden;
        }

        &_img {
            clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);
            width: 320px;
            height: 260px;
            object-fit: cover;
        }
        &_details {
            padding: 2rem;
        }

        &_title {

            font-family: $font-display;
        }
        &_creator {
        }
        &_price {
        }
    }
}
