.features {
    grid-column: center-start/center-end;

    margin: 15rem 0;

    @supports (display: grid) {
        display: grid;
        //grid-template-columns: repeat(3, 1fr);
        //Responsive version
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 6rem;
        align-items: start;
    }

    @media only screen and (max-width: $bp-md) {
        margin: 5rem 0;
    }
}

.feature {
    float: left;
    width: 33.3333%;
    margin-bottom: 6rem;

    @supports (display: grid) {
        float: none;
        width: 100%;
        margin-bottom: 0;
    }
    display: grid;
    // grid-template-columns: min-content 1fr;
    //grid-row-gap: 1.5rem;
    //grid-column-gap: 2rem;
    justify-items: center;

    &__icon {
        font-size: 8rem;
        color: $color-primary-dark;
        grid-row: 1 / span 2; //this is the alternative;
        transform: translateY(-0.5rem);
    }

    &__text {
        font-size: $font-clamp;
        text-align: center;
        // grid-column: text-start/text-end; this can also be used;
    }
}

.whoWeAre {
    grid-column: center-start/center-end;
    margin: 4rem 0;

    &__title {
        line-height: 2;
        font-weight: 700;
        text-align: center;
        font-size: clamp(2rem, 6vw, 4rem);
        text-transform: uppercase;
    }
    &__text {
        font-size: $font-clamp;
        text-align: justify;
    }
}
.services {
    display: grid;
    grid-column: center-start/center-end;
    margin: 4rem;
    padding: 0 4rem;

     @media only screen and (max-width: $bp-md) {
        margin: 4rem 0;
        padding: 0;

    }

    &__title {
        line-height: 2;
        font-weight: 700;
        text-align: center;
        font-size: clamp(2rem, 6vw, 4rem);
        text-transform: uppercase;
    }
    &__text {
        font-size: $font-clamp;
        text-align: justify;
        display: grid;
        gap: 4rem;

        ul {
            text-align: start;
            
            list-style: none;

            details {
                display: flex;

                summary > * {
                    display: inline;
                }

                summary {
                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        h3{
            text-align: center;
        }

        h4{
            margin-top: 2rem;
            text-align: start;
        }
    }

    &__icon {
        text-align: center;
        font-size: 4rem;
        line-height: 1;
        color: $color-primary-dark;
    }
}
