.features {
  grid-column: center-start/center-end;

  margin: 15rem 0;


  @supports(display:grid){
    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    //Responsive version
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;
  }

  @media only screen and (max-width: $bp-md){
    margin: 5rem 0;
  }
}

.feature {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;
  
  @supports(display:grid){
    float: none;
    width: 100%;
    margin-bottom: 0;
  }
  display: grid;
 // grid-template-columns: min-content 1fr;
  //grid-row-gap: 1.5rem;
  //grid-column-gap: 2rem;
  justify-items: center;

  &__icon {
    font-size: 8rem;
    color: $color-primary-dark;
    grid-row: 1/ span 2; //this is the alternative;
    transform: translateY(-.5rem);
  }

  &__text {
    font-size: $font-clamp;
    text-align: center;
    // grid-column: text-start/text-end; this can also be used;
  }
}