.contact-box {
    display: grid;
    justify-items: center;
    grid-column: 1 / -1;
    margin: 7rem 0;
    width: 100%;

    &__heading {
        margin-bottom: 3rem;
            font-size: clamp(2rem, 4vw, 3rem);

        text-transform: uppercase;
    }

    &__details{
        display: grid;
                    font-size: clamp(1rem, 4vw, 2rem);

    }
}
.contact-form {
    display: grid;
    grid-column: 1 / -1;

    grid-template-columns: min-content;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    width: 50vw;

    font-size: clamp(1.7rem, 4vw, 2rem);

    &__item {
        width: 100%;
    }
    &__input {
        width: 35rem;
        border-radius: 1rem;
        outline: none;
        border: 1px solid $color-secondary;
        padding: 1rem 2rem;
        font-size: clamp(1.7rem, 3vw, 2rem);

          @media only screen and (max-width: $bp-smaller) {
                    width: 20rem;

        }
    }
    &__btn {
        padding: 1rem 3rem;
        justify-self: center;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: $color-primary;
        border-radius: 2rem;
        color: white;
        font-size: clamp(1.7rem, 3vw, 2rem);
    }
}

.form__displayError{
        font-size: clamp(1.7rem, 3vw, 2rem);
        background-color: rgb(158, 26, 26);
        color: white;
        padding: 1rem 3rem;
        border-radius: 1rem;
}
.form__displayMessage{
        font-size: clamp(1.7rem, 3vw, 2rem);
        background-color: rgb(4, 58, 16);
        color: white;
        padding: 1rem 3rem;
        border-radius: 1rem;
}
