.header {
    //background-color: $color-primary;
    grid-column: 1/-1;
    grid-row: 1/2;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    display: grid;

    grid-template-columns: 10rem 0.6fr;

    &-logo {
        width: 8rem;
        height: 8rem;
        transition: 0.5s;

        @media only screen and (max-width: $bp-md) {
            width: 5rem;
            height: 5rem;
        }
    }

    &-nav {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: space-around;
        align-items: center;

        &__item:link,
        &__item:visited {
            font-size: 1.7rem;
            color: $color-secondary;
            text-decoration: none;
            border: 1px solid $color-red;
            padding: 1rem;
            border-radius: 1rem;
            font-weight: 700;
            font-size: clamp(1.2rem, 1.2vw, 1.5vw);
        }

        @media only screen and (max-width: $bp-md) {
            display: none;
        }
    }

    @media only screen and (max-width: $bp-largest) {
        grid-template-columns: 0.5fr 1fr;
    }

    @media only screen and (max-width: $bp-md) {
        direction: rtl;
        grid-template-columns: 1fr max-content;
        margin: 0 2rem;
    }
}
.sidebar {
    // width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    z-index: 88;
    transition: 0.4s;
    color: black;
    
    //  background: linear-gradient(145deg, #f0f0f0, #cacaca);
    //  box-shadow:  10px 10px 20px #797979,
    //               -10px -10px 20px #ffffff;
    &__toggle {
        z-index: 100;
        font-size: 3rem;
        cursor: pointer;
        align-self: center;
    }

    .navbar1 {
        position: fixed;
        top: 0;
        left: -100%;
        width: $sidebar-width;
        height: 100vh;
        padding: 0.5rem 1rem 0 0;
        background-color: $color-secondary;
        transition: 0.4s;
        z-index: 88;

        @media only screen and (max-width: $bp-sm) {
            width: $sidebar-width + 30vw;
        }
    }

    .nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        margin-top: 10rem;
    }

    .nav__logo,
    .nav__link {
        display: grid;
        grid-template-columns: max-content max-content;
        align-items: center;
        column-gap: 1rem;
        padding: 0.4rem 0 0.4rem 1.4rem;
    }
    .nav__logo {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

    .nav__logo-icon {
        font-size: 2rem;
        color: white;
    }

    .nav__logo-name {
        // color: white;
        font-weight: 700;
    }

    .nav__link {
        position: relative;
        margin-bottom: 1.43rem;
        transition: 0.4s;
        text-decoration: none;
        font-size: 2rem;
        color: white;
        z-index: 90
        // &:hover{
        //     color: black;
        // }
    }

    .nav__icon {
        font-size: 1.3rem;
    }

    .show {
        left: 0;
    }

    @media only screen and (min-width: $bp-md) {
        display: none;
    }
}

.bodyId {
    padding: 3rem;
}

.toggleLogo {
    width: 0;
}
.toggleMenu {
    background-color: red;
    left: $sidebar-width + 10vw;
}
.toggleColor{
    color: white;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #13090949;
    display: none;
    z-index: 88;
}

.toggleBackdrop {
    display: block;
}