.header {
    & > :link,
    & > :visited {
        text-decoration: none;
        color: $color-grey-dark;
    }
    &_input-box {
        display: flex;
        align-items: center;
        position: relative;
        justify-self: stretch;

        &_input {
            border-radius: 3rem;
            padding: 0.7rem 1rem;
            outline: none;
            border: 1px solid rgb(63, 62, 62);
            width: 100%;
            padding-left: 2.5rem;
        }
        &_searchIcon {
            position: absolute;
            width: 3rem;
        }
    }

    &_list {
        display: flex;
        list-style: none;
        justify-content: space-around;
        margin-left: 2rem;
        margin-right: 0.5rem;

        & > * {
            padding: 1rem 0.5rem;
        }

        &-item {
            &--1:link,
            &--1:visited,
            &--2:link,
            &--2:visited {
                text-decoration: none;
                padding: 0.5rem 1rem;
                border-radius: 5px;
            }

            &--1 {
                border: 1px solid $color-secondary;
                &:link,
                &:visited{
                     color: $color-secondary;
                     font-weight: 600;
                     
                }
            }
            &--2 {
                background-color: $color-secondary;

                &:link,
                &:visited{
                    color: white;
                                         font-weight: 600;

                }
            }
        }
    }
}
