.header {
    //background-color: $color-primary;
    grid-column: 1/-1;
    grid-row: 1/2;

    padding: 1rem;
    display: flex;
    justify-content: space-between;
    display: grid;

    grid-template-columns: 10rem 0.6fr;

    &-logo {
        width: 8rem;
        height: 8rem;
        transition: .5s;

        @media only screen and (max-width: $bp-md) {
            width: 5rem;
            height: 5rem;
        }
    }

    &-nav {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: space-around;
        align-items: center;

        &__item:link,
        &__item:visited {
            font-size: 1.7rem;
            color: $color-secondary;
            text-decoration: none;
            border: 1px solid $color-red;
            padding: 1rem;
            border-radius: 1rem;
            font-weight: 700;
            font-size: clamp(1.2rem, 1.2vw, 1.5vw);
        }

        @media only screen and (max-width: $bp-md) {
            display: none;
        }
    }

    label {
        display: none;
    }

    @media only screen and (max-width: $bp-md) {
        label {
            display: flex;
            flex-direction: column;
            width: 40px;
            cursor: pointer;
            justify-content: center;
            align-items: flex-end;
        }

        label span {
            background: $color-secondary;
            border-radius: 10px;
            height: 5px;
            margin: 5px 0;
            transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        }

        span:nth-of-type(1) {
            width: 50%;
        }

        span:nth-of-type(2) {
            width: 100%;
        }

        span:nth-of-type(3) {
            width: 75%;
        }

        input[type='checkbox'] {
            display: none;
        }

        input[type='checkbox']:checked ~ span:nth-of-type(1) {
            transform-origin: bottom;
            transform: rotatez(45deg) translate(8px, 0px);
        }

        input[type='checkbox']:checked ~ span:nth-of-type(2) {
            transform-origin: top;
            transform: rotatez(-45deg);
        }

        input[type='checkbox']:checked ~ span:nth-of-type(3) {
            transform-origin: bottom;
            width: 50%;
            //transform: translate(30px, -11px) rotatez(45deg);
            transform: translate(19px, -11px) rotatez(45deg);
        }
    }

    @media only screen and (max-width: $bp-largest) {
        grid-template-columns: 0.5fr 1fr;
    }

    @media only screen and (max-width: $bp-md) {
        direction: rtl;
        grid-template-columns: 1fr max-content;
        margin: 0 2rem;
    }
}
.sidebar {
    // width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: black;
    z-index: 88;
    transition: 0.4s;

    &__toggle {
        color: white;
        z-index: 100;
        font-size: 2rem;
        cursor: pointer;
    }

}
.navbar1 {
    position: fixed;
    top: 0;
    left: -100%;
    width: $sidebar-width;
    height: 100vh;
    padding: 0.5rem 1rem 0 0;
    background-color: purple;
    transition: 0.4s;
    z-index: 88;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.rootApp{
    background-color: red;
}

.nav__logo,
.nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.4rem 0 0.4rem 1.4rem;
}
.nav__logo {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.nav__logo-icon {
    font-size: 1.3rem;
    color: white;
}

.nav__logo-name {
    // color: white;
    font-weight: 700;
}

.nav__link {
    position: relative;
    margin-bottom: 1.43rem;
    transition: 0.4s;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;

    // &:hover{
    //     color: black;
    // }
}

.nav__icon {
    font-size: 1.3rem;
}

.show {
    left: 0;
}

.showLogo{
    width: 0;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #13090949;
   // z-index: 88;
}



@media only screen and (min-width: $bp-md) {
    // .header {
    //     height: 8rem;
    //     padding: 0 2rem 0 3rem;
    // }
    // .navbar1 {
    //     left: 0;
    //     padding: 1rem 1rem 0 0;
    // }

    // .show {
    //     width: 40%;
    // }
    .sidebar{
        display: none;
    }
}
