.homes__box {
    display: grid;
    grid-column: center-start/center-end;
    justify-items: center;
    margin: 12rem 0;

    .homes {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        grid-gap: 7rem;

        & .home {
            background-color: $color-grey-light-1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 3.5rem;
            transition: all .8s;

            &__img {
                grid-column: 1/-1;
                grid-row: 1/2;
                width: 100%;
                z-index: 1;
                object-fit: cover;
            }

            &__name {
                grid-column: 1/-1;
                grid-row: 1/2;
                justify-self: center;
                align-self: end;
                transform: translateY(50%);
                padding: 1.25rem;
                background-color: $color-secondary;
                color: #fff;
                font-family: $font-display;
                font-size: 1.6rem;
                font-weight: 400;
                text-align: center;
                width: 80%;
                text-decoration: none;
                z-index: 30;
            }

            &:hover{
                transform: scale(1.1);
            }
        }

        &__heading{
            text-transform: uppercase;
            margin-bottom: 4rem;
        }
    }
}
