.homes {
    grid-column: center-start/center-end;
    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;

    & .home {
        background-color: $color-grey-light-1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 3.5rem;

        &__img {
            grid-column: 1/-1;
            grid-row: 1/2;
            width: 100%;
            z-index: 1;
        }



        &__name {
            grid-column: 1/-1;
            grid-row: 1/2;
            justify-self: center;
            align-self: end;
            transform: translateY(50%);
            padding: 1.25rem;
            background-color: $color-secondary;
            color: #fff;
            font-family: $font-display;
            font-size: 1.6rem;
            font-weight: 400;
            text-align: center;
            width: 80%;
            z-index: 30;
        }

    

       

      
    }
}
