.modal {
    position: relative;

    & > :link,
    & > :visited {
        text-decoration: none;
        color: $color-grey-dark;
    }

    .category {
        position: absolute;
        z-index: 2;
        top: 3rem;
        width: max-content;
    }
    
    .categoryModal {
        list-style: none;
        background: $color-grey-light-2;
        padding: 1rem .3rem;
        border-radius: .5rem;

        li {
            padding: .3rem 1rem;
            
            & > :link,
            & > :visited {
                text-decoration: none;
                color: $color-grey-dark;
                text-align: center;
            }
        }
    }

    &_spacer{
        width: 8rem;
        height: 2rem;
        position: absolute;
    }
}
