.sidebar {
    //background-color: $color-primary;
    grid-column: 1/-1;
    grid-row: 1/2;

    padding: 1rem;
    display: flex;
    justify-content: space-between;
    display: grid;

    grid-template-columns: 10rem 0.6fr;

    &-logo {
        width: 8rem;
        height: 8rem;

        @media only screen and (max-width: $bp-md) {
            width: 5rem;
            height: 5rem;
        }
    }

    &-nav {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: space-around;
        align-items: center;

        &__item:link,
        &__item:visited {
            font-size: 1.7rem;
            color: $color-secondary;
            text-decoration: none;
            border: 1px solid $color-red;
            padding: 1rem;
            border-radius: 1rem;
            font-weight: 700;
            font-size: clamp(1.2rem, 1.2vw, 1.5vw);
        }

        @media only screen and (max-width: $bp-md) {
            display: none;
        }
    }

    label {
        display: none;
    }

    @media only screen and (max-width: $bp-md) {
        label {
            display: flex;
            flex-direction: column;
            width: 40px;
            cursor: pointer;
            justify-content: center;
            align-items: flex-end;
        }

        label span {
            background: $color-secondary;
            border-radius: 10px;
            height: 5px;
            margin: 5px 0;
            transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        }

        span:nth-of-type(1) {
            width: 50%;
        }

        span:nth-of-type(2) {
            width: 100%;
        }

        span:nth-of-type(3) {
            width: 75%;
        }

        input[type='checkbox'] {
            display: none;
        }

        input[type='checkbox']:checked ~ span:nth-of-type(1) {
            transform-origin: bottom;
            transform: rotatez(45deg) translate(8px, 0px);
        }

        input[type='checkbox']:checked ~ span:nth-of-type(2) {
            transform-origin: top;
            transform: rotatez(-45deg);
        }

        input[type='checkbox']:checked ~ span:nth-of-type(3) {
            transform-origin: bottom;
            width: 50%;
            //transform: translate(30px, -11px) rotatez(45deg);
            transform: translate(19px, -11px) rotatez(45deg);
        }
    }

    @media only screen and (max-width: $bp-largest) {
        grid-template-columns: 0.5fr 1fr;
    }

    @media only screen and (max-width: $bp-md) {
        direction: rtl;
        grid-template-columns: 1fr max-content;
        margin: 0 2rem;
    }

}
.header{
    width: 100%;
    height: 20%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: white;
    z-index: 88;
    transition: .4s;

    &__toggle{
        color: black;
        font-size: 2rem;
        cursor: pointer;
    }
    &__img{
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;

        & img {
            width: 40px;
        }
    }

}
.navbar1{
   position: fixed;
   top: 0;
   left: 0;
   width: calc(68px + 156px);
   height: 100vh;
   padding: .5rem 1rem 0 0;
   background-color: purple;
   transition: .4s;
   z-index: 88;
}
