.sidebar {
    //background-color: $color-primary;
    grid-column: 1/-1;
    grid-row: 1/2;

    padding: 1rem;
    display: flex;
    justify-content: space-between;
    display: grid;

    grid-template-columns: 10rem .5fr;
    // @media only screen and (max-width: $bp-large){
    //   align-items: center;
    //   justify-content: flex-end;
    // }

    &-logo {
        width: 8rem;
        height: 8rem;
    }

    &-nav {
      background-color: red;
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        
        &__item:link,
        &__item:visited {
          font-size: 1.7rem;
          text-decoration: none;
        }
    }
}

.nav-btn {
    border: none;
    border-radius: 0;

    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    margin-top: 4rem;

    &::before,
    &::after {
        background-color: #fff;
        height: 2px;
        width: 4.5rem;
        content: '';
        display: block;
    }

    &::before {
        transform: translateY(-1.5rem);
    }
    &::after {
        transform: translateY(1.3rem);
    }

    @media only screen and (max-width: $bp-large) {
        margin-top: 0;
        // margin-right: 3rem;
        width: 3rem;
        position: fixed;
        right: 3rem;
        &::before {
            width: 3rem;
            transform: translateY(-1.2rem);
        }
        &::after {
            width: 3rem;
            transform: translateY(1rem);
        }
    }
}
