.sidebar {
    //background-color: $color-primary;
    grid-column: 1/-1;
    grid-row: 1/2;

    padding: 1rem;
    display: flex;
    justify-content: space-between;
    display: grid;

    grid-template-columns: 10rem 0.6fr;
    @media only screen and (max-width: $bp-largest){

            grid-template-columns: .5fr 1fr;

    }

    &-logo {
        width: 8rem;
        height: 8rem;
    }

    &-nav {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: space-around;
        align-items: center;

        &__item:link,
        &__item:visited {
            font-size: 1.7rem;
            color: $color-secondary;
            text-decoration: none;
            border: 1px solid $color-red;
            padding: 1rem;
            border-radius: 1rem;
            font-weight: 700;
           font-size:  clamp(1.2rem, 1.2vw, 1.5vw);
        }
    }
}

.nav-btn {
    border: none;
    border-radius: 0;

    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    margin-top: 4rem;

    &::before,
    &::after {
        background-color: #fff;
        height: 2px;
        width: 4.5rem;
        content: '';
        display: block;
    }

    &::before {
        transform: translateY(-1.5rem);
    }
    &::after {
        transform: translateY(1.3rem);
    }

    @media only screen and (max-width: $bp-large) {
        margin-top: 0;
        // margin-right: 3rem;
        width: 3rem;
        position: fixed;
        right: 3rem;
        &::before {
            width: 3rem;
            transform: translateY(-1.2rem);
        }
        &::after {
            width: 3rem;
            transform: translateY(1rem);
        }
    }
}
