.story {
    display: grid;
    grid-column: full-start/full-end;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    margin: 10rem 3rem;

    &__picture{
      background: url('../../assets/family.jpg') no-repeat;
      background-size: over;
      background-position: center;
      width: 100%;
      min-height: 400px;

         @media only screen and (max-width: $bp-large) {
           background-position: top;
         }

    }

    &__content {
        background-color: $color-grey-light-1;


        display: grid;
        align-content: center;
        justify-items: start;

        padding: 6rem 8vw;

      }
    

    &__text {
        font-size: $font-clamp;
        font-style: italic;
        margin-bottom: 4rem;
        list-style: none;

        li {
            margin: 1rem 0;
            border-bottom: 1px solid currentColor;
            border-radius: 8px 3px;
            box-shadow: -4px 0px 6px 0px;
            padding: 2rem;
        }
    
}}
