.story {
    background: red;
    display: grid;
    grid-column: full-start/full-end;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));

    &__content {
        background-color: $color-grey-light-1;

        /* Flexbox approach
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    */

        /*CSS Grids approach */
        display: grid;
        align-content: center;
        justify-items: start;
        grid-column: col-start 5 / full-end;

        padding: 6rem 8vw;

        @media only screen and (max-width: $bp-md) {
            grid-column: 1/-1;
            grid-row: 5/6;
            padding: 5rem 8vw 8rem 8vw;
        }
    }

    &__text {
        font-size: $font-clamp;
        font-style: italic;
        margin-bottom: 4rem;
        list-style: none;

        li {
            margin: 1rem 0;
            border-bottom: 1px solid currentColor;
            border-radius: 8px 3px;
            box-shadow: -4px 0px 6px 0px;
            padding: 2rem;
        }
    }
}
