.whoWeAre {
    grid-column: center-start/center-end;
    margin-top: 10rem;

    &__title {
        line-height: 2;
        font-weight: 700;
        text-align: center;
        font-size: clamp(2rem, 6vw, 4rem);
        text-transform: uppercase;
    }
    &__text {
        font-size: clamp(1.6rem, 3vw, 2rem);
        text-align: center;
    }
}
